@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.LSPS1.Views 
@using Microsoft.AspNetCore.Mvc.TagHelpers

<li class="nav-item">
    <a asp-controller="LSPS1" asp-action="Index" asp-route-storeId="@ViewContext.RouteData.Values["storeId"]" class="nav-link @ViewData.ActivePageClass(PluginNavPages.Index)">
        <vc:icon symbol="nav-lightning"/>
        <span>Get Lightning Inbound</span>
    </a>
</li>
