@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.LSPS1.Views
@model BTCPayServer.Plugins.LSPS1.PluginPageViewModel
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Get Lightning Channel");
}
<h1>@ViewData["Title"]</h1>


<h2>Get A Lightning Channel</h2>

<ul class="list-group">
    @* @foreach (var item in Model.Data)
    {
        <li class="list-group-item">@item.Id at @item.Timestamp.ToString("F")</li>
    } *@
</ul>
