@using BTCPayServer.Client
@using BTCPayServer.Views.Stores
@using BTCPayServer.Abstractions.Extensions

@{ var store = Context.GetStoreData(); }

@if (store != null)
{
    <li class="nav-item nav-item-sub" permission="@Policies.CanModifyStoreSettings">
        <a asp-area="" asp-controller="LSPS1" asp-action="Index" asp-route-storeId="@store.Id" class="nav-link @ViewData.ActivePageClass(PluginNavPages.Index)" id="LightningNav-LSPS1">
            <span text-translate="true">Get Inbound Channel</span>
        </a>
    </li>
}