@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.LSPS1.Views
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery AntiXsrf
@inject BTCPayServer.Security.ContentSecurityPolicies csp
@model BTCPayServer.Plugins.LSPS1.Controllers.LSPS1Controller.PluginPageViewModel

@{
    ViewData.SetActivePage(PluginNavPages.Index, "Get Lightning Channel");
    var xsrf = AntiXsrf.GetAndStoreTokens(Context).RequestToken;
}

<h1>Enable Inbound Lightning Payments</h1>

<div class="content mb-5">
    <p>Get a Lightning channel with inbound capacity so you can receive payments.</p>
</div>

<!-- React root element -->
<div id="lsps1-root"></div>

<!-- Consolidated data for JavaScript in a single script tag -->
<script id="lsps1-data" type="application/json">
    @Html.Raw(ViewBag.ClientDataJson)
</script>

<!-- Add CSRF token separately as it's not part of our model -->
<div id="request-verification-token" data-token="@xsrf" style="display: none;"></div>

<!-- Include React libraries -->
<script src="~/Resources/js/vendor/react.production.min.js" asp-append-version="true"></script>
<script src="~/Resources/js/vendor/react-dom.production.min.js" asp-append-version="true"></script>

<!-- Services -->
<script src="~/Resources/js/services/lspManager.js" asp-append-version="true"></script>
<script src="~/Resources/js/services/channelOrderManager.js" asp-append-version="true"></script>

<!-- Components -->
<script src="~/Resources/js/components/LoadingSpinner.js" asp-append-version="true"></script>
<script src="~/Resources/js/components/ChannelSizeSlider.js" asp-append-version="true"></script>
<script src="~/Resources/js/components/OrderResult.js" asp-append-version="true"></script>
<script src="~/Resources/js/components/ChannelConfiguration.js" asp-append-version="true"></script>
<script src="~/Resources/js/components/ConnectionFooter.js" asp-append-version="true"></script>
<script src="~/Resources/js/components/LSPS1App.js" asp-append-version="true"></script>

<!-- Main initialization script -->
<script src="~/Resources/js/lsps1.js" asp-append-version="true"></script>