@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.LSPS1.Views
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery AntiXsrf
@inject BTCPayServer.Security.ContentSecurityPolicies csp
@model BTCPayServer.Plugins.LSPS1.Controllers.LSPS1Controller.PluginPageViewModel

@{
    ViewData.SetActivePage(PluginNavPages.Index, "Get Lightning Channel");
    var xsrf = AntiXsrf.GetAndStoreTokens(Context).RequestToken;
}

<h1>@ViewData["Title"]</h1>


<div class="form-group mb-3">
    <button id="lsps-connect" class="btn btn-primary">Connect to Lightning Service Provider</button>
    <span id="status-message" class="ms-3"></span>
</div>

<input type="hidden" id="store-id" value="@Model.StoreId" />
<input type="hidden" id="request-verification-token" value="@xsrf" />

<script src="~/Resources/js/lspIndex.js" asp-append-version="true"></script>