@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.LSPS1.Views
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery AntiXsrf
@inject BTCPayServer.Security.ContentSecurityPolicies csp
@model BTCPayServer.Plugins.LSPS1.Controllers.LSPS1Controller.PluginPageViewModel

@{
    ViewData.SetActivePage(PluginNavPages.Index, "Get Lightning Channel");
    var xsrf = AntiXsrf.GetAndStoreTokens(Context).RequestToken;
}

<h1>
    <svg style="width: 24px; margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path fill="currentColor" d="M0 256L28.5 28c2-16 15.6-28 31.8-28H228.9c15 0 27.1 12.1 27.1 27.1c0 3.2-.6 6.5-1.7 9.5L208 160H347.3c20.2 0 36.7 16.4 36.7 36.7c0 7.4-2.2 14.6-6.4 20.7l-192.2 281c-5.9 8.6-15.6 13.7-25.9 13.7h-2.9c-15.7 0-28.5-12.8-28.5-28.5c0-2.3 .3-4.6 .9-6.9L176 288H32c-17.7 0-32-14.3-32-32z"/>
    </svg>
    Get Lightning Channel
</h1>

<div class="content mb-5">
    <p>Get a Lightning channel with inbound capacity so you can receive payments.</p>
</div>

<!-- React root element -->
<div id="lsps1-root"></div>

<!-- Consolidated data for JavaScript in a single script tag -->
<script id="lsps1-data" type="application/json">
    @Html.Raw(ViewBag.ClientDataJson)
</script>

<!-- Add CSRF token separately as it's not part of our model -->
<div id="request-verification-token" data-token="@xsrf" style="display: none;"></div>

<!-- Include React libraries -->
<script src="~/Resources/js/vendor/react.production.min.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/vendor/react-dom.production.min.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/vendor/react-qr-code.js" defer asp-append-version="true"></script>

<!-- Services in dependency order -->
<script src="~/Resources/js/services/LspStorageManager.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/services/LspConfigManager.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/services/LspApiService.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/services/lspManager.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/services/channelOrderManager.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/services/channelManager.js" defer asp-append-version="true"></script>

<!-- Components -->
<script src="~/Resources/js/components/LoadingSpinner.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/components/ChannelSizeSlider.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/components/OrderResultStatus.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/components/OrderResultInvoice.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/components/OrderResult.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/components/ChannelConfiguration.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/components/ConnectionFooter.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/components/LightningNodeSetup.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/components/ExistingChannels.js" defer asp-append-version="true"></script>
<script src="~/Resources/js/components/LSPS1App.js" defer asp-append-version="true"></script>

<!-- Main initialization script -->
<script src="~/Resources/js/lsps1.js" defer asp-append-version="true"></script>